/* Color styles */
$background-00: hsla(0, 0%, 94.5%, 1);
$bzl-grey-primary-text-grey: hsla(0, 0%, 17.3%, 1);
$bzl-grey-grey-10: hsla(0, 0%, 96.1%, 1);
$bzl-grey-grey-20: hsla(0, 0%, 82.7%, 1);
$bzl-grey-grey-30: hsla(0, 0%, 71.4%, 1);
$bzl-grey-grey-40: hsla(0, 0%, 60%, 1);
$bzl-grey-grey-50: hsla(0, 0%, 48.6%, 1);
$bzl-grey-grey-60: hsla(0, 0%, 37.6%, 1);
$bzl-grey-grey-70: hsla(0, 0%, 31%, 1);
$bzl-grey-grey-80: hsla(0, 0%, 24.3%, 1);
$bzl-grey-grey-90: hsla(0, 0%, 10.6%, 1);
$bzl-grey-white: hsla(0, 0%, 100%, 1);
$bzl-grey-primary-black: hsla(0, 0%, 2.4%, 1);
$primary-colors-primary-green: hsla(142, 100%, 33.5%, 1);
$primary-colors-primary-navy: hsla(190, 49.5%, 21.8%, 1);
$primary-colors-primary-blue: hsla(176, 82%, 47.8%, 1);
$primary-colors-primary-punch: hsla(351, 84.8%, 58.6%, 1);
$primary-colors-primary-yellow: hsla(45, 100%, 60%, 1);
$primary-colors-primary-grape: hsla(250, 100%, 69%, 1);
$bzl-green-green-10: hsla(143, 50%, 86.7%, 1);
$bzl-green-green-20: hsla(142, 50%, 73.3%, 1);
$bzl-green-green-30: hsla(142, 50.7%, 60.2%, 1);
$bzl-green-green-40: hsla(142, 57.3%, 46.9%, 1);
$bzl-green-green-60: hsla(142, 100%, 26.9%, 1);
$bzl-green-green-70: hsla(142, 100%, 20.2%, 1);
$bzl-green-green-80: hsla(142, 100%, 13.3%, 1);
$bzl-green-green-90: hsla(143, 100%, 6.7%, 1);
$bzl-navy-navy-10: hsla(192, 13.8%, 78.6%, 1);
$bzl-navy-navy-20: hsla(190, 13.7%, 64.1%, 1);
$bzl-navy-navy-30: hsla(190, 13.7%, 50%, 1);
$bzl-navy-navy-40: hsla(191, 24.6%, 35.9%, 1);
$bzl-navy-navy-60: hsla(189, 49.5%, 17.8%, 1);
$bzl-navy-navy-70: hsla(189, 49.3%, 13.9%, 1);
$bzl-navy-navy-80: hsla(190, 49%, 10%, 1);
$bzl-navy-navy-90: hsla(188, 48.4%, 6.1%, 1);
$bzl-grape-grape-10: hsla(251, 100%, 96.9%, 1);
$bzl-grape-grape-20: hsla(249, 100%, 90.8%, 1);
$bzl-grape-grape-30: hsla(250, 100%, 84.5%, 1);
$bzl-grape-grape-40: hsla(250, 100%, 78.2%, 1);
$bzl-grape-grape-60: hsla(250, 55.3%, 55.3%, 1);
$bzl-grape-grape-70: hsla(250, 45%, 41.4%, 1);
$bzl-grape-grape-80: hsla(250, 44.7%, 27.6%, 1);
$bzl-grape-grape-90: hsla(251, 45.7%, 13.7%, 1);
$booster-blue-blue-10: hsla(180, 48.5%, 87.1%, 1);
$booster-blue-blue-20: hsla(179, 48.6%, 78.6%, 1);
$booster-blue-blue-30: hsla(179, 49%, 70%, 1);
$booster-blue-blue-40: hsla(179, 49%, 61.6%, 1);
$booster-blue-blue-60: hsla(179, 42.6%, 43.7%, 1);
$booster-blue-blue-70: hsla(179, 42.5%, 34.1%, 1);
$booster-blue-blue-80: hsla(179, 43.5%, 24.3%, 1);
$booster-blue-blue-90: hsla(180, 43.2%, 14.5%, 1);
$bzl-punch-punch-10: hsla(350, 83.1%, 88.4%, 1);
$bzl-punch-punch-20: hsla(351, 83.5%, 81%, 1);
$bzl-punch-punch-30: hsla(351, 83.8%, 73.3%, 1);
$bzl-punch-punch-40: hsla(351, 83.9%, 65.9%, 1);
$bzl-punch-punch-60: hsla(351, 59.3%, 48.2%, 1);
$bzl-punch-punch-70: hsla(351, 59.4%, 37.6%, 1);
$bzl-punch-punch-80: hsla(351, 59.1%, 26.9%, 1);
$bzl-punch-punch-90: hsla(351, 59%, 16.3%, 1);
$bzl-yellow-yellow-10: hsla(45, 100%, 92%, 1);
$bzl-yellow-yellow-20: hsla(45, 100%, 83.9%, 1);
$bzl-yellow-yellow-30: hsla(45, 100%, 76.1%, 1);
$bzl-yellow-yellow-40: hsla(45, 100%, 68%, 1);
$bzl-yellow-yellow-60: hsla(45, 66.5%, 48%, 1);
$bzl-yellow-yellow-70: hsla(45, 66.3%, 36.1%, 1);
$bzl-yellow-yellow-80: hsla(45, 67.2%, 23.9%, 1);
$bzl-yellow-yellow-90: hsla(45, 67.2%, 12%, 1);